Checks:          "*,                                    \
###################,                                    \
# ENABLED CHECKS   ,                                    \
###################,                                    \
modernize-*,                                            \
cppcoreguidelines-*,                                    \
hicpp-*,                                                \
google-*,                                               \
bugprone-*,                                             \
llvm-*,                                                 \
performance-*,                                          \
readability-*,                                          \
clang-analyzer-*,                                       \
zircon-*,                                               \
portability-*,                                          \
misc-*,                                                 \
boost-*,                                                \
abseil-*,                                               \
###################,                                    \
# DISABLED CHECKS  ,                                    \
###################,                                    \
-fuchsia-default-arguments,                             \
-readability-container-size-empty,                      \
-google-readability-namespace-comments,                 \
-llvm-namespace-comment,                                \
-modernize-use-trailing-return-type,                    \
-fuchsia-default-arguments-calls,                       \
# TODO remove following lines,                          \
-readability-braces-around-statements,                  \
-cppcoreguidelines-avoid-magic-numbers,                 \
-hicpp-braces-around-statements,                         \
-readability-magic-numbers,             \
-cppcoreguidelines-avoid-magic-numbers,         \
-cppcoreguidelines-init-variables,          \
"
